{% extends "base.html" %}

{% block content %}
<h1>{{ actor.name }} {{ actor.surname }}</h1>

{% load static %}
<link rel="stylesheet" href="{% static 'css/actor_detail.css' %}">

<table width="70%">
    <tr style="table_color_1">
        <th>Name:</th>
        <td>{{ actor.name }}</td>
    </tr>
    <tr style="table_color_2">
        <th>Surname:</th>
        <td>{{ actor.surname }}</td>
    </tr>
    <tr style="table_color_2">
        <th>Description:</th>
        <td>{{ actor.description }}</td>
    </tr>

    <tr style="table_color_1">
        <th>Age:</th>
        <td>{{ actor.age }}</td>
    </tr>
    <tr style="table_color_2">
        <th>Height:</th>
        <td>{{ actor.height }}</td>
    </tr>



</table>


{% endblock %}